{% extends 'layout.html' %}
{% block css %}
    <style>
        .shadow {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 999;
        }

        .modal_layer {
            position: fixed;
            z-index: 1000;
            left: 50%;
            top: 50%;
            background-color: white;
            width: 400px;
            height: 150px;
            margin-top: -150px;
            margin-left: -200px;
        }
    </style>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="active">班级管理</li>
        {#            <li class="active">添加班级信息</li>#}
    </ol>
    <div class="col-md-12" id="app">
        <a class="btn btn-default " id="addClasses" style="margin-bottom:5px;background: #f2dede;">添加</a>
        <div class="shadow hide" id="shadow"></div>
        <el-row>
            <el-dialog
                    title="添加班级信息"
                    :visible.sync="dialogVisible"
                    width="30%"
                    :before-close="handleClose">
                <span slot="footer" class="dialog-footer">
                    <el-form ref="form" :model="form" label-width="80px">
                          <el-form-item label="班级名称">
                            <el-input v-model="form.title"></el-input>
                          </el-form-item>
                        <el-form-item label="课程名称" prop="type">
                            <el-checkbox-group v-model="form.curr">
                                <el-checkbox v-for="(cur,i) in curr" :label="cur.id"
                                             name="type">{cur.name}</el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                    </el-form>
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" v-if="form.id != 0 " @click="edit_curr">确定修改</el-button>
                    <el-button type="primary" v-else @click="edit_curr">确 定</el-button>
                </span>
            </el-dialog>
        </el-row>
        <!--编辑班级信息模态框-->
        <div class="modal_layer hide" id="modal_edit">
            <div class="panel panel-danger">
                <div class="panel-heading" style="font-weight: bold">编辑班级信息
                    <button type="button" class="close" id="close_edit_modal"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>班级名称：</label>
                            <input type="text" name="title" class="form-control" id="edit_title">
                            <input type="text" name="title" class="form-control" id="edit_id" style="display: none">
                            <span id="edit_error" style="color: red"></span>
                        </div>
                        <el-checkbox-group v-model="checkList">
                            {% for row in curr_list %}
                                <el-checkbox label="{{ row.id }}">{{ row.name }}</el-checkbox>
                            {% endfor %}
                        </el-checkbox-group>
                        <input type="button" class="btn" value="修改" id="edit_class" style="background: #f2dede;">
                    </form>
                </div>
            </div>
        </div>
        <!--编辑班级信息模态框-->
        <!--班级信息展示-->
        <table class="table table-bordered text-center  table-hover" style="background: white;margin-bottom: 0">
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">班级名称</th>
                <th class="text-center">班级课程</th>
                <th class="text-center">操作</th>
            </tr>
            {% for row in class_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.title }}</td>
                    <td> {% for item in row.cc_names %}
                        <span>{{ item }}</span>
                    {% endfor %}</td>

                    <td>

                        <a href="javascript:;"
                           style="font-weight: bold"
                           @click="edit_class_modal({{ row.id }},'{{ row.title }}',{{ row.cc_ids }})">编辑</a>
                        <a href="javascript:" style="font-weight: bold" onclick="del_class(this)">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
{% block js %}
    <script>
        window.onload = function () {
            var app = new Vue({
                delimiters: ['{', '}'],
                el: "#app",
                data: {
                    checkList: ['2'],

                    form: {
                        id: 0,
                        name: "",
                        curr: [],
                    },
                    curr: [],
                    dialogVisible: false
                },
                methods: {
                    handleClose() {
                        this.dialogVisible = false
                    },
                    edit_class_modal(id, title, ids) {
                        this.dialogVisible = true;
                        this.form.id = id;
                        this.form.title = title;
                        this.form.curr = ids;
                    },
                    edit_curr() {
                        $.ajax({
                            url: '/user/edit_class_modal/',
                            type: 'POST',
                            contentType:'application/json',
                            data: JSON.stringify(this.form),
                            success: function (data) {

                            }
                        })
                    }
                },
                created() {
                    _this = this
                    $.ajax({
                        url: '/user/curriculum-api/',
                        type: 'GET',
                        success: function (data) {
                            _data = JSON.parse(data)
                            console.log(_data)
                            _this.curr = _data.data
                        }
                    })
                }
            })
        };
        $(document).ready(function () {
            //添加和编辑班级通用
            $('#shadow').click(function () {
                $('#shadow').addClass('hide');
                $('#modal_layer').addClass('hide');
                $('#modal_edit').addClass('hide');
            });
            //添加班级
            $('#addClasses').click(function () {
                $('#shadow').removeClass('hide');
                $('#modal_layer').removeClass('hide');
            });
            $('#add_class').click(function () {
                $.ajax({
                    url: '/user/add_class_modal/',
                    type: 'POST',
                    data: {'title': $('#class_title').val()},
                    success: function (data) {
                        //当服务端处理完，返回数据时，自动调用该函数
                        {#console.log(data)#}
                        if (data == 'ok') {
                            {#alert('添加成功！');#}
                            location.href = '/user/classes/';
                        } else {
                            $('#error').text(data);
                        }
                    }
                })
            });
            $('#close_add_modal').click(function () {
                $('#shadow').addClass('hide');
                $('#modal_layer').addClass('hide');
            });
            $('#edit_class').click(function () {

            });
            $('#close_edit_modal').click(function () {
                $('#shadow').addClass('hide');
                $('#modal_edit').addClass('hide');
            });
        });


        //删除班级
        function del_class(ths) {
            var row = $(ths).parent().prevAll();
            class_id = $(row[1]).text();
            $.ajax({
                url: '/user/del_class_modal/',
                type: 'get',
                data: {'class_id': class_id},
                success: function (data) {
                    if (data == 'ok') {
                        location.href = '/user/classes/'
                    } else {
                        alert('删除失败！');
                    }
                }
            })
        }
    </script>
{% endblock %}